
.row {
    // background-color: $color-white;
    max-width: $grid-width;
    // height: 7rem;
    // background-color: $color-white;
    margin: 0 auto;
    

    &:not(:last-child) {

        margin-bottom: $gutter-vertical;

        @include respond(tab-port) {
            margin-bottom: $gutter-vertical-small;
            max-width: 50rem;
            padding: 0 3rem;
        }
    }

    @include respond(tab-port) {
        max-width: 60rem;
        padding: 0 3rem;
        
    }

    @include clearfix;

    div[class*="col"] {

        // background-color: red;
        float: left;
        height: inherit;
        text-align: left;
        // display: inline-block;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;

            @include respond(tab-port) {
                margin-right: 0;
                margin-bottom: $gutter-vertical-small;
                
            }
        }

        @include respond(tab-port) {
            width: 100% !important;

        }
    }

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2);
    }

    .col-1-of-3 {
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
    }

    .col-2-of-3 {
        width: calc(#{$gutter-horizontal} + ((100% - 2 * #{$gutter-horizontal}) / 3) * 2);
    }

    .col-1-of-4 {
        width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
    }

    .col-2-of-4 {
        width: calc(#{$gutter-horizontal} + ((100% - 3 * #{$gutter-horizontal}) / 4) * 2);
    }

    .col-3-of-4 {
        width: calc((2 * #{$gutter-horizontal}) + ((100% - 3 * #{$gutter-horizontal}) / 4) * 3);
    }
}