* , *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    font-size: 62.5%;


    @include respond-phone {
        font-size: 50%;
    }
}

html, body {
    width: 100%;
    overflow: scroll;
}




body {
    padding: 3rem;
    overflow: hidden;
    box-sizing: border-box;
    // font-family: "Lato",sans-serif;
}
